{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sayat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets1/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/style.css' %}">
    <script src="{% static 'assets1/script.js' %}" defer></script>
</head>

<body>
    <header class="header">
        <nav class="header__content">
            <div class="header__buttons">
                <a href="{% url 'index' %}" class="header__home">
                    
                    <?xml version="1.0" standalone="no"?>
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
                     "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="130" height="44" viewBox="0 0 535.000000 218.000000"
                     preserveAspectRatio="xMidYMid meet">
                    
                    <g transform="translate(0.000000,218.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M1400 2123 c-80 -8 -80 -8 -62 -55 12 -35 15 -88 14 -272 0 -125 -3
                    -231 -6 -234 -3 -3 -29 2 -57 11 -67 22 -117 21 -156 -2 -89 -55 -182 -335
                    -170 -511 9 -140 59 -214 169 -255 103 -38 186 18 213 145 11 54 15 54 43 -2
                    36 -71 78 -98 151 -98 71 0 117 29 152 94 13 25 27 46 30 46 4 0 9 -17 13 -38
                    7 -45 39 -96 79 -126 23 -17 43 -21 100 -21 l71 0 32 43 c18 23 41 68 50 100
                    9 31 19 64 21 72 3 9 14 -4 29 -35 29 -60 61 -90 113 -106 49 -14 98 -6 144
                    25 l35 24 26 -53 c32 -64 55 -80 140 -100 95 -22 127 -4 180 103 15 28 29 52
                    32 52 4 0 3 -37 0 -82 -5 -60 -12 -86 -24 -96 -52 -39 -139 -136 -179 -199
                    -65 -105 -95 -198 -101 -315 -4 -88 -3 -100 18 -134 32 -50 101 -80 208 -88
                    91 -7 124 3 161 50 46 58 54 112 60 404 l6 275 38 1 c75 2 76 46 1 66 l-47 13
                    5 185 c4 138 10 195 22 224 9 21 16 40 16 42 0 2 -16 10 -35 18 l-35 15 1 93
                    c2 137 -21 173 -131 205 -30 8 -75 24 -99 35 -38 17 -50 18 -83 9 -113 -34
                    -175 -189 -185 -461 l-6 -155 -34 -42 c-47 -59 -77 -59 -104 1 -26 60 -40 215
                    -28 324 12 118 12 119 -11 142 -15 15 -33 20 -79 20 -91 0 -88 5 -83 -123 4
                    -128 -17 -294 -47 -362 -21 -47 -59 -79 -83 -70 -36 14 -42 54 -48 330 l-5
                    270 -30 14 c-16 8 -51 16 -77 19 l-47 4 -4 -158 c-5 -216 -40 -387 -88 -435
                    -12 -12 -33 -19 -55 -19 -31 0 -37 4 -52 38 -15 33 -17 79 -17 392 0 197 6
                    437 14 538 7 101 9 187 5 192 -12 10 -80 17 -124 13z m1347 -615 c39 -44 56
                    -144 32 -190 -6 -11 -17 -71 -24 -132 -20 -173 -78 -296 -145 -311 -57 -13
                    -78 24 -90 158 -13 153 10 308 59 404 43 86 124 119 168 71z m-1428 -39 l34
                    -20 -7 -98 c-8 -114 -45 -301 -76 -385 -29 -76 -68 -121 -98 -112 -44 14 -57
                    60 -56 191 1 236 73 445 153 445 9 0 31 -9 50 -21z m1459 -1009 c-5 -203 -18
                    -261 -68 -321 -54 -65 -131 -30 -145 66 -19 125 87 400 184 476 l26 21 3 -28
                    c2 -16 2 -112 0 -214z"/>
                    <path d="M433 2016 c-85 -21 -158 -63 -212 -121 -65 -72 -91 -141 -91 -244 0
                    -67 4 -86 31 -141 42 -82 135 -181 284 -298 260 -205 320 -294 248 -367 -52
                    -51 -107 -69 -218 -70 -211 0 -317 86 -272 222 9 26 15 48 14 49 -1 1 -25 -7
                    -54 -18 -132 -49 -120 -199 23 -275 173 -92 491 -88 629 7 66 45 90 92 89 171
                    -1 132 -69 220 -309 401 -146 109 -221 183 -258 252 -17 32 -22 59 -22 121 0
                    70 4 86 28 128 53 91 157 129 250 93 53 -20 89 -56 125 -126 15 -29 36 -57 48
                    -61 30 -11 67 11 78 46 4 17 15 42 22 57 44 84 -17 142 -183 174 -89 17 -179
                    17 -250 0z"/>
                    <path d="M3765 1661 c-50 -12 -73 -29 -106 -78 -46 -67 -77 -174 -89 -310 -19
                    -209 -38 -290 -90 -368 -33 -51 -67 -54 -90 -10 -12 23 -15 66 -14 190 1 143
                    4 169 27 247 15 48 24 94 21 101 -7 19 -42 34 -98 41 -25 3 -66 9 -91 12 l-45
                    5 0 44 c0 24 -3 50 -6 59 -8 20 -56 21 -94 1 l-30 -15 6 -168 c6 -152 0 -246
                    -22 -374 -6 -34 -4 -38 14 -38 13 0 27 11 36 28 17 34 42 149 56 262 7 53 17
                    89 26 96 15 12 55 7 64 -7 3 -5 2 -54 -2 -111 -15 -187 17 -365 79 -438 33
                    -40 89 -56 136 -41 38 13 88 67 108 117 l11 29 22 -50 c35 -77 70 -102 161
                    -110 60 -6 80 -4 99 9 32 21 78 89 101 149 17 46 35 62 35 32 0 -31 41 -96 73
                    -115 67 -41 146 -17 198 58 l24 36 8 -45 c17 -92 46 -113 145 -107 l47 3 8 65
                    c26 219 67 397 87 385 6 -4 10 -74 10 -161 0 -216 16 -248 122 -242 l52 3 17
                    85 c21 103 69 252 103 317 l24 48 -1 -145 c-1 -180 17 -254 74 -311 49 -49
                    115 -62 169 -33 65 35 136 171 156 299 7 50 -13 76 -40 50 -9 -9 -16 -25 -16
                    -35 0 -32 -42 -154 -62 -183 -43 -60 -97 -55 -119 10 -25 76 -8 400 22 419 17
                    10 9 52 -16 77 -47 46 -115 68 -159 51 -15 -6 -48 -86 -137 -329 l-44 -120 -3
                    177 -2 178 -30 15 c-16 8 -49 15 -74 15 -37 0 -48 -4 -64 -27 -27 -40 -55
                    -115 -83 -218 l-24 -90 -5 225 -5 225 -57 14 c-32 7 -64 11 -71 8 -11 -4 -16
                    -53 -21 -224 -8 -236 -23 -320 -72 -395 -73 -112 -147 38 -115 232 20 118 19
                    123 -10 137 -25 12 -27 18 -31 106 -3 51 -11 104 -18 117 -19 37 -51 70 -69
                    70 -9 0 -39 11 -66 24 -60 28 -109 36 -150 27z m129 -151 c35 -13 55 -48 65
                    -111 7 -44 5 -59 -10 -89 -11 -19 -19 -51 -19 -72 0 -66 -20 -191 -42 -261
                    -32 -102 -108 -158 -150 -109 -33 37 -43 95 -43 242 1 156 15 231 60 319 31
                    62 53 81 107 90 4 0 18 -3 32 -9z"/>
                    </g>
                    </svg>
                    
                </a>

                <button class="header__theme-button" title="Toggle Theme">
                    <svg class="header__theme-button-moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--text-dark)" viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                    </svg>
                    <svg class="header__theme-button-sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="var(--text-dark)" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                    </svg>
                </button>
            </div>

            <form action="{% url 'search-users' %}" method="GET">
                <div class="header__search">
                    <input type="text" placeholder="Search" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-primary" type="submit">Search</button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.669 21.6543C21.8625 21.4622 21.863 21.1494 21.6703 20.9566L17.3049 16.5913C18.7912 14.9327 19.7017 12.7525 19.7017 10.3508C19.7017 5.18819 15.5135 1 10.3508 1C5.18819 1 1 5.18819 1 10.3508C1 15.5135 5.18819 19.7017 10.3508 19.7017C12.7624 19.7017 14.9475 18.7813 16.606 17.2852L20.9739 21.653C21.1657 21.8449 21.4765 21.8454 21.669 21.6543ZM1.9843 10.3508C1.9843 5.7394 5.7394 1.9843 10.3508 1.9843C14.9623 1.9843 18.7174 5.7394 18.7174 10.3508C18.7174 14.9623 14.9623 18.7174 10.3508 18.7174C5.7394 18.7174 1.9843 14.9623 1.9843 10.3508Z" fill="#A5A5A5" stroke="#A5A5A5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </form>
            <div class="header__buttons header__buttons--mobile">
                <a href="{% url 'newpost' %}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="3" y="3" width="18" height="18" rx="5" stroke="var(--text-dark)" stroke-width="1.8"/>
                        <line x1="12.1" y1="6.9" x2="12.1" y2="17.1" stroke="var(--text-dark)" stroke-width="1.8" stroke-linecap="round"/>
                        <line x1="6.9" y1="11.8" x2="17.1" y2="11.8" stroke="var(--text-dark)" stroke-width="1.8" stroke-linecap="round"/>
                    </svg>
                </a>
                <a href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.4995 21.2609C11.1062 21.2609 10.7307 21.1362 10.4133 20.9001C8.2588 19.3012 3.10938 15.3239 1.81755 12.9143C0.127895 9.76543 1.14258 5.72131 4.07489 3.89968C5.02253 3.31177 6.09533 3 7.18601 3C8.81755 3 10.3508 3.66808 11.4995 4.85726C12.6483 3.66808 14.1815 3 15.8131 3C16.9038 3 17.9766 3.31177 18.9242 3.89968C21.8565 5.72131 22.8712 9.76543 21.186 12.9143C19.8942 15.3239 14.7448 19.3012 12.5902 20.9001C12.2684 21.1362 11.8929 21.2609 11.4995 21.2609ZM7.18601 4.33616C6.34565 4.33616 5.5187 4.57667 4.78562 5.03096C2.43888 6.49183 1.63428 9.74316 2.99763 12.2819C4.19558 14.5177 9.58639 18.6242 11.209 19.8267C11.3789 19.9514 11.6158 19.9514 11.7856 19.8267C13.4082 18.6197 18.799 14.5133 19.997 12.2819C21.3603 9.74316 20.5557 6.48738 18.209 5.03096C17.4804 4.57667 16.6534 4.33616 15.8131 4.33616C14.3425 4.33616 12.9657 5.04878 12.0359 6.28696L11.4995 7.00848L10.9631 6.28696C10.0334 5.04878 8.6611 4.33616 7.18601 4.33616Z" fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.6"/>
                    </svg>
                </a>
                <a href="{% url 'message' %}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.81038 19.7478C5.83176 19.4539 5.70787 19.1681 5.47873 18.9827C3.2792 17.2037 1.9 14.5525 1.9 11.5868C1.9 6.27627 6.38748 1.9 12.0098 1.9C17.6196 1.9 22.1078 6.27565 22.1078 11.5868C22.1078 16.8966 17.6092 21.2735 11.998 21.2735C11.0656 21.2735 10.1798 21.1544 9.32697 20.9277C9.15685 20.8825 8.97721 20.8882 8.81028 20.944L5.64643 22.0022L5.81038 19.7478Z" stroke="var(--text-dark)" stroke-width="1.8" stroke-linejoin="round"/>
                        <path d="M10.1498 8.7952C10.2222 8.80563 10.2825 8.81606 10.3548 8.82649C11.428 9.05591 12.5252 10.0362 13.3693 10.6202C13.8396 10.9539 14.2375 10.9226 14.7078 10.6097C15.7086 9.92147 16.7456 9.26448 17.7705 8.58664C18.0478 8.39893 18.3372 8.20079 18.6748 8.45107C19.0486 8.7222 18.8195 9.0142 18.6266 9.28534C17.6137 10.6827 16.6129 12.0801 15.588 13.4671C14.8886 14.4265 13.8999 14.5621 12.8388 13.8842C12.1032 13.4045 11.3436 12.9561 10.6201 12.4556C10.1378 12.1219 9.73984 12.1636 9.28163 12.4764C8.26876 13.1647 7.24382 13.8217 6.21889 14.4995C5.94156 14.6872 5.65216 14.8854 5.31454 14.6247C4.97691 14.3744 5.15778 14.0928 5.33865 13.8321C6.3877 12.393 7.42469 10.9539 8.47374 9.51476C8.82343 9.02463 9.47456 8.73263 10.1498 8.7952Z" fill="var(--text-dark)"/>
                    </svg>
                </a>
            </div>

            <div class="header__buttons header__buttons--desktop">
                <a href="{% url 'newpost' %}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="3" y="3" width="18" height="18" rx="5" stroke="var(--text-dark)" stroke-width="1.8"/>
                        <line x1="12.1" y1="6.9" x2="12.1" y2="17.1" stroke="var(--text-dark)" stroke-width="1.8" stroke-linecap="round"/>
                        <line x1="6.9" y1="11.8" x2="17.1" y2="11.8" stroke="var(--text-dark)" stroke-width="1.8" stroke-linecap="round"/>
                    </svg>
                </a>
                <a href="{% url 'index' %}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.45307 11.751L11.9773 2.02175L21.5015 11.751C21.7906 12.0463 21.9545 12.4468 21.9545 12.8711V20.4556C21.9545 20.7747 21.7037 21 21.4427 21H15.964C15.713 21 15.4721 20.7849 15.4721 20.476V15.8886C15.4721 13.9497 13.9267 12.34 11.9773 12.34C10.0279 12.34 8.48244 13.9497 8.48244 15.8886V20.476C8.48244 20.7849 8.24157 21 7.99053 21H2.51187C2.25085 21 2 20.7747 2 20.4556V12.8711C2 12.4468 2.16397 12.0463 2.45307 11.751Z" stroke="var(--text-dark)" stroke-width="2"/>
                    </svg>
                </a>
                <a href="{% url 'message' %}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.81038 19.7478C5.83176 19.4539 5.70787 19.1681 5.47873 18.9827C3.2792 17.2037 1.9 14.5525 1.9 11.5868C1.9 6.27627 6.38748 1.9 12.0098 1.9C17.6196 1.9 22.1078 6.27565 22.1078 11.5868C22.1078 16.8966 17.6092 21.2735 11.998 21.2735C11.0656 21.2735 10.1798 21.1544 9.32697 20.9277C9.15685 20.8825 8.97721 20.8882 8.81028 20.944L5.64643 22.0022L5.81038 19.7478Z" stroke="var(--text-dark)" stroke-width="1.8" stroke-linejoin="round"/>
                        <path d="M10.1498 8.7952C10.2222 8.80563 10.2825 8.81606 10.3548 8.82649C11.428 9.05591 12.5252 10.0362 13.3693 10.6202C13.8396 10.9539 14.2375 10.9226 14.7078 10.6097C15.7086 9.92147 16.7456 9.26448 17.7705 8.58664C18.0478 8.39893 18.3372 8.20079 18.6748 8.45107C19.0486 8.7222 18.8195 9.0142 18.6266 9.28534C17.6137 10.6827 16.6129 12.0801 15.588 13.4671C14.8886 14.4265 13.8999 14.5621 12.8388 13.8842C12.1032 13.4045 11.3436 12.9561 10.6201 12.4556C10.1378 12.1219 9.73984 12.1636 9.28163 12.4764C8.26876 13.1647 7.24382 13.8217 6.21889 14.4995C5.94156 14.6872 5.65216 14.8854 5.31454 14.6247C4.97691 14.3744 5.15778 14.0928 5.33865 13.8321C6.3877 12.393 7.42469 10.9539 8.47374 9.51476C8.82343 9.02463 9.47456 8.73263 10.1498 8.7952Z" fill="var(--text-dark)"/>
                    </svg>
                </a>
                <a href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 2.8H7C5.23269 2.8 3.8 4.23269 3.8 6V17C3.8 18.7673 5.23269 20.2 7 20.2H18C19.7673 20.2 21.2 18.7673 21.2 17V6C21.2 4.23269 19.7673 2.8 18 2.8ZM7 1C4.23858 1 2 3.23858 2 6V17C2 19.7614 4.23858 22 7 22H18C20.7614 22 23 19.7614 23 17V6C23 3.23858 20.7614 1 18 1H7Z" fill="var(--text-dark)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22 7.99995H3V6.19995H22V7.99995Z" fill="var(--text-dark)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 6.99989L6 1.99989L7.57349 1.12573L11.5735 6.12573L10 6.99989Z" fill="var(--text-dark)"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 6.99989L12.5 1.99989L14.0735 1.12573L18.0735 6.12573L16.5 6.99989Z" fill="var(--text-dark)"/>
                        <path d="M15.75 13.0671C16.0833 13.2595 16.0833 13.7407 15.75 13.9331L10.5 16.9642C10.1667 17.1566 9.75 16.9161 9.75 16.5312L9.75 10.469C9.75 10.0841 10.1667 9.84354 10.5 10.036L15.75 13.0671Z" fill="var(--text-dark)"/>
                    </svg>
                </a>





                <span>
                    <a href="{% url 'show-notification' %}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.4995 21.2609C11.1062 21.2609 10.7307 21.1362 10.4133 20.9001C8.2588 19.3012 3.10938 15.3239 1.81755 12.9143C0.127895 9.76543 1.14258 5.72131 4.07489 3.89968C5.02253 3.31177 6.09533 3 7.18601 3C8.81755 3 10.3508 3.66808 11.4995 4.85726C12.6483 3.66808 14.1815 3 15.8131 3C16.9038 3 17.9766 3.31177 18.9242 3.89968C21.8565 5.72131 22.8712 9.76543 21.186 12.9143C19.8942 15.3239 14.7448 19.3012 12.5902 20.9001C12.2684 21.1362 11.8929 21.2609 11.4995 21.2609ZM7.18601 4.33616C6.34565 4.33616 5.5187 4.57667 4.78562 5.03096C2.43888 6.49183 1.63428 9.74316 2.99763 12.2819C4.19558 14.5177 9.58639 18.6242 11.209 19.8267C11.3789 19.9514 11.6158 19.9514 11.7856 19.8267C13.4082 18.6197 18.799 14.5133 19.997 12.2819C21.3603 9.74316 20.5557 6.48738 18.209 5.03096C17.4804 4.57667 16.6534 4.33616 15.8131 4.33616C14.3425 4.33616 12.9657 5.04878 12.0359 6.28696L11.4995 7.00848L10.9631 6.28696C10.0334 5.04878 8.6611 4.33616 7.18601 4.33616Z" fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.6"/>
                        </svg>
                    
                    </a>
                </span>
                
                <a href="">
                    <button class="profile-button">
                        <div class="profile-button__border"></div>
                        <a href="{% url 'profile' request.user %}">
                            <div class="profile-button__picture">
                                <img src="{{request.user.profile.image.url}}" alt="User Picture">
                            </div>
                        </a>
                    </button>
                </a>
            </div>
        </nav>
    </header>


    {% block content %}
    {% endblock content %}


                
            </section>
        </section>
    </main>

    <nav class="navbar">
        <a href="#" class="navbar__button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45307 11.751L11.9773 2.02175L21.5015 11.751C21.7906 12.0463 21.9545 12.4468 21.9545 12.8711V20.4556C21.9545 20.7747 21.7037 21 21.4427 21H15.964C15.713 21 15.4721 20.7849 15.4721 20.476V15.8886C15.4721 13.9497 13.9267 12.34 11.9773 12.34C10.0279 12.34 8.48244 13.9497 8.48244 15.8886V20.476C8.48244 20.7849 8.24157 21 7.99053 21H2.51187C2.25085 21 2 20.7747 2 20.4556V12.8711C2 12.4468 2.16397 12.0463 2.45307 11.751Z" stroke="var(--text-dark)" stroke-width="2"/>
            </svg>
        </a>
        <a href="{% url 'search-users'  %}" class="navbar__button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.669 21.6543C21.8625 21.4622 21.863 21.1494 21.6703 20.9566L17.3049 16.5913C18.7912 14.9327 19.7017 12.7525 19.7017 10.3508C19.7017 5.18819 15.5135 1 10.3508 1C5.18819 1 1 5.18819 1 10.3508C1 15.5135 5.18819 19.7017 10.3508 19.7017C12.7624 19.7017 14.9475 18.7813 16.606 17.2852L20.9739 21.653C21.1657 21.8449 21.4765 21.8454 21.669 21.6543ZM1.9843 10.3508C1.9843 5.7394 5.7394 1.9843 10.3508 1.9843C14.9623 1.9843 18.7174 5.7394 18.7174 10.3508C18.7174 14.9623 14.9623 18.7174 10.3508 18.7174C5.7394 18.7174 1.9843 14.9623 1.9843 10.3508Z" fill="var(--text-dark)" stroke="var(--text-dark)" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
        <a href="#" class="navbar__button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 2.8H7C5.23269 2.8 3.8 4.23269 3.8 6V17C3.8 18.7673 5.23269 20.2 7 20.2H18C19.7673 20.2 21.2 18.7673 21.2 17V6C21.2 4.23269 19.7673 2.8 18 2.8ZM7 1C4.23858 1 2 3.23858 2 6V17C2 19.7614 4.23858 22 7 22H18C20.7614 22 23 19.7614 23 17V6C23 3.23858 20.7614 1 18 1H7Z" fill="var(--text-dark)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 7.99995H3V6.19995H22V7.99995Z" fill="var(--text-dark)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 6.99989L6 1.99989L7.57349 1.12573L11.5735 6.12573L10 6.99989Z" fill="var(--text-dark)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5 6.99989L12.5 1.99989L14.0735 1.12573L18.0735 6.12573L16.5 6.99989Z" fill="var(--text-dark)"/>
                <path d="M15.75 13.0671C16.0833 13.2595 16.0833 13.7407 15.75 13.9331L10.5 16.9642C10.1667 17.1566 9.75 16.9161 9.75 16.5312L9.75 10.469C9.75 10.0841 10.1667 9.84354 10.5 10.036L15.75 13.0671Z" fill="var(--text-dark)"/>
            </svg>
        </a>
        <a href="#" class="navbar__button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6007 7.94185H6.47927C5.84559 7.94185 5.32113 8.43455 5.2816 9.06699L4.80842 16.638C4.6573 19.0559 6.57759 21.0999 9.00024 21.0999H15.0797C17.5023 21.0999 19.4226 19.0559 19.2715 16.638L18.7983 9.06699C18.7588 8.43455 18.2343 7.94185 17.6007 7.94185ZM6.47927 6.14185C4.89508 6.14185 3.58393 7.37361 3.48511 8.95471L3.01192 16.5257C2.79604 19.9799 5.53931 22.9 9.00024 22.9H15.0797C18.5406 22.9 21.2839 19.9799 21.068 16.5257L20.5948 8.95471C20.496 7.37361 19.1849 6.14185 17.6007 6.14185H6.47927Z" fill="var(--text-dark)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2761 2.8C11.0812 2.8 10.1125 3.76867 10.1125 4.96359V6.1419H8.3125V4.96359C8.3125 2.77456 10.0871 1 12.2761 1C14.4651 1 16.2397 2.77456 16.2397 4.96359V6.1419H14.4397V4.96359C14.4397 3.76867 13.471 2.8 12.2761 2.8Z" fill="var(--text-dark)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2757 12.3118C13.4706 12.3118 14.4393 11.3431 14.4393 10.1482L14.4393 9.91256C14.4393 9.41551 14.8422 9.01256 15.3393 9.01256C15.8363 9.01256 16.2393 9.41551 16.2393 9.91256L16.2393 10.1482C16.2393 12.3373 14.4647 14.1118 12.2757 14.1118C10.0866 14.1118 8.31208 12.3373 8.31208 10.1482L8.31208 9.91257C8.31208 9.41551 8.71502 9.01257 9.21208 9.01257C9.70913 9.01257 10.1121 9.41551 10.1121 9.91257L10.1121 10.1482C10.1121 11.3431 11.0807 12.3118 12.2757 12.3118Z" fill="var(--text-dark)"/>
            </svg>
        </a>
        <a href="{% url 'profile' request.user %}" class="navbar__button profile-button">
            <div class="profile-button__border"></div>
            <div class="profile-button__picture">
                <img src="{{request.user.profile.image.url}}" alt="User Picture">
            </div>
        </a>
    </nav>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>
